IDENTITY_MYSQL_URL=jdbc:mysql://192.168.65.254:13306/minipay_identity?preserveInstants=true&connectionTimeZone=UTC&forceConnectionTimeZoneToSession=true
PAYMENT_MYSQL_URL=jdbc:mysql://192.168.65.254:13306/minipay_payment?preserveInstants=true&connectionTimeZone=UTC&forceConnectionTimeZoneToSession=true
WALLET_MYSQL_URL=jdbc:mysql://192.168.65.254:13306/minipay_wallet?preserveInstants=true&connectionTimeZone=UTC&forceConnectionTimeZoneToSession=true
COMMERCE_MYSQL_URL=jdbc:mysql://192.168.65.254:13306/minipay_commerce?preserveInstants=true&connectionTimeZone=UTC&forceConnectionTimeZoneToSession=true
AGENT_MYSQL_URL=jdbc:mysql://192.168.65.254:13306/minipay_agent?preserveInstants=true&connectionTimeZone=UTC&forceConnectionTimeZoneToSession=true
YSHOP_MYSQL_URL=jdbc:mysql://192.168.65.254:13307/yixiang_drink?useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&nullCatalogMeansCurrent=true
REDIS_HOST=192.168.65.254
REDIS_PORT=16379
YSHOP_REDIS_HOST=192.168.65.254
YSHOP_REDIS_PORT=16380
RABBITMQ_HOST=192.168.65.254
RABBITMQ_PORT=15673
IDENTITY_PUBLIC_URL=http://identity.minipay.localhost
IDENTITY_ISSUER=http://identity.minipay.localhost
SESSION_COOKIE_SECURE=false
MANAGEMENT_OAUTH_REDIRECT_URI=http://ops.minipay.localhost/login/oauth2/code/minipay-ops
ADMIN_OAUTH_REDIRECT_URI=http://admin.minipay.localhost/login/oauth2/code/minipay-admin
MERCHANT_BFF_OAUTH_REDIRECT_URI=http://merchant.minipay.localhost/merchant/oauth2/code
OPS_WEB_PUBLIC_URL=http://ops.minipay.localhost/
ADMIN_WEB_PUBLIC_URL=http://admin.minipay.localhost/
MERCHANT_WEB_PUBLIC_URL=http://merchant.minipay.localhost/
MINIPAY_FOOD_H5_ORIGIN=http://food.minipay.localhost
YSHOP_MINIPAY_H5_ORIGIN=http://food.minipay.localhost
YSHOP_MINIPAY_ALLOW_GENERIC_ADDRESS=true
