IMAGE_REGISTRY=suqihang
IMAGE_TAG=0.1.0-k3s.1
K3S_VERSION=REPLACE_TESTED_VERSION
GATEWAY_API_VERSION=REPLACE_TESTED_VERSION
NGINX_GATEWAY_FABRIC_VERSION=REPLACE_TESTED_VERSION
CERT_MANAGER_VERSION=REPLACE_TESTED_VERSION
